@use '../../../styles/variables';
@use '../../../styles/mixins';

.main {
  text-align: center;
  line-height: 40px;
  margin-bottom: 100px;

  &__title {
      margin: 70px 20px;
      font-size: 45px;
      color: white;
      
      strong{
        color: variables.$second-color;
      }
  }
  
  &__cards {
      @include mixins.flex-center;
      flex-wrap: wrap;
      gap: 100px;
      margin: 0 20px;
  }
}