@use '../../styles/mixins';
@use '../../styles/variables';

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  height: 90px;
  width: 75%;
  position: relative;
  left: 25%;
  @media screen and(max-width:835px){
    position: unset;
    width: 100%;
  }

  @include mixins.cell {
    padding: 1rem 20px;
  }


  &__title {
    font-size: 1.5rem;
    color: variables.$primary-color;
    transition: all 1s;
    cursor: pointer;

    &:hover {
      color: variables.$second-color;
    }
  }

  &__icon {
    cursor: pointer;
    position: relative;
    z-index: 2;
    font-size: 48px;
    color: variables.$primary-color;
  }

  &__menu {
    background-color: variables.$bg-menu-curso;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh; 
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    

    @include mixins.cell {
    width: 60%;
    height: 100vh;  
    }
  }
  &__modulo{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
  }

  &__link {
    font-size: 20px;
    border-bottom: 1px solid rgba( 0,0,0, 0.2);

    a{
      display: block;
      padding: 1em;
      color: white;
    }
    &:hover {
      color: variables.$second-color;
    }
  }
}

.menu-mobile-outline, .menu-mobile-close {
  position: absolute;
  right: 20px;
  top:0;
  z-index: 2;
  @include mixins.icons;
}

.header2__ative{
  display: none;
  @media screen and (max-width: 835px) {
    display: block;
  }
}