@use '../../assets/scss/variables';
@use '../../assets/scss/mixins';

.header {
  display: flex;
  justify-content: space-between;
  padding: .7rem 0;
  margin: 0 4rem;

  &__title {
    font-size: 1.3rem;
    color: variables.$primary-color;
  }

  &__menu {
    background-color: variables.$bg-menu-curso;
    width: 45vh;
    height: 50vh; 
    padding: 50px 40px 70px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    border-bottom-left-radius: 10px;
    animation: descendo .5s ease-in;
    @include mixins.animations;
  }

  &__link {
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
    color: variables.$primary-color;
    padding-bottom: 20px;
  }
}

.menu-mobile-outline, .menu-mobile-close {
  position: absolute;
  right: 20px;
  top:0;
  z-index: 2;
  @include mixins.icons;
}