@use '../../styles/mixins';
@use '../../styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  height: 90px;
  width: 100%;

  @include mixins.cell {
    padding: 1rem 20px;
  }

  &__title {
    font-size: 1.5rem;
    color: variables.$primary-color;
    transition: all 1s;
    cursor: pointer;

    &:hover {
      color: variables.$second-color;
    }
  }

  &__icon {
    cursor: pointer;
    position: relative;
    z-index: 2;
    font-size: 48px;
    color: variables.$primary-color;
  }

  &__menu {
    background-color: variables.$second-color;
    width: 50vh;
    height: 55vh; 
    padding: 55px 40px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    border-bottom-left-radius: 5px;
    animation: descendo 500ms linear;
    @include mixins.animations;

    @include mixins.cell {
    width: 100vw;
    height: 100vh; 
    text-align: center;
    padding-top: 100px;

    animation: descendo-mobile 500ms linear;
    @include mixins.animations;
    }

      &__desktop {
        display: flex;
        align-items: center;
        gap: 20px;

        @media (max-width: 835px) {
          display: none;
        }
      }
  }

  &__link {
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    color: variables.$primary-color;
    padding-bottom: 20px;
    transition: all 1s;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }
}

.menu-mobile-outline, .menu-mobile-close {
  position: absolute;
  right: 20px;
  top:0;
  z-index: 2;
  @include mixins.icons;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}