@use '../../styles/variables';
@use '../../styles/mixins';

.courses {
  padding: 0 70px 70px;

  @include mixins.cell {
    margin: 70px 20px ;
  }

  &__title {
    color: variables.$primary-color;
    padding: 100px 0 2rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    

    @include mixins.cell {
      flex-direction: column;
      gap: 40px;
    }
  
  }
}
