@use '../../styles/variables';
@use '../../styles/mixins';

.main {
  @include mixins.flex-column;
  position: relative;
  height: calc(100vh - 90px);
  overflow: hidden;
  padding: 0 10px;
  text-align: center;

  &__text {
    top:50px;
    position: absolute;
    color: variables.$primary-color;
  }

  &__img {
    max-width: 700px;
    width: 100%;
  }

}